<h2 align='center'><%= show_page_title @aem %></h2>
<table width="800" class="ShowTable" align='center'>
	<tr>
		<th><%= show_name_title %></th>
		<th>Issue Date</th>
		<th>Return Date</th>
		<th>Assignment Type</th>
		<th>Status</th>
		<th>Remark</th>
	</tr>
	<% @aem.each do |aem| %>
	<tr>
		<td><%= show_name aem %></td>
		<td><%= date_to_string aem.date_issued %></td>
		<td><%= date_to_string aem.date_returned %></td>
		<td><%= aem.assignment_type.capitalize %></td>
		<td><%= aem.status.capitalize %></td>
		<td><%= aem.remark %></td>
	</tr>
	<% end %>
</table>

<script>
	$(".ShowTable tr:odd").addClass("AlternateRow");
</script>
