<script>

function changeForm() {
	$.ajax({
    url: '<%= change_aem_form_path %>', 
    dataType: 'script',
    type: 'get', 
    data: 'employee_id=<%= @aem.employee_id %>&asset_id='+$("#asset_employee_mapping_asset_id").attr("value")
  });
}

</script>

<h2 align='center'>Return Asset</h2>

<%= form_for(@aem) do |f| %>
<table width="800" class="ShowTable" align='center'>
	<tr>
		<td>Employee Name</td>
		<td>
			<%= @aem.employee.name %>
			<%= f.hidden_field :employee_id %>
		</td>
	</tr>
	<tr>
		<td>Asset Name</td>
		<td><%= f.select :asset_id,  options_for_select(@options_for_asset), {}, :onchange => "changeForm();" %></td>
	</tr>
	<tr>
		<td>Issued on</td>
		<td id='issued_on'><%= date_to_string @aem.date_issued %></td>
	</tr>
	<tr>
		<td>Assignment Type</td>
		<td id='assignment_type'><%= @aem.assignment_type %></td>
	</tr>
	<tr>
		<td>Return date</td>
		<td>
			<%= text_field_tag :return_date %>
			<script>
				jQuery(document).ready(function(){$('#return_date').datepicker({})});
			</script>
			<span id='scheduled_date'><%= show_scheduled_date @aem.date_returned %></span>
			</td>
	</tr>
	<tr>
		<td>Remark</td>
		<td><%= f.text_area :remark, :rows => 3, :columns => 80 %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit "Return Asset!" %></td>
	</tr>
</table>
<% end %>

<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
