<script>

function changeForm() {
	$.ajax({
    url: '<%= change_aem_form_asset_employee_mappings_path %>', 
    dataType: 'script',
    type: 'get', 
    data: 'employee_id=<%= @aem.employee_id %>&asset_id='+$("#asset_employee_mapping_asset_id").attr("value")
  });
}

</script>

<h2 align='center'>Return Asset</h2>


<%= form_for(@aem) do |f| %>

<%= render :partial => "shared/errors", :locals => { :obj => @aem } %>

<table width="800" class="ShowTable" align='center'>
	<tr>
		<td>Employee Name</td>
		<td>
			<%= @aem.employee.name %>
			<%= f.hidden_field :employee_id %>
		</td>
	</tr>
	<tr>
		<td>Asset Name</td>
		<td><%= asset_name f %></td>
	</tr>
	<tr>
		<td>Issued on</td>
		<td id='issued_on'><%= date_to_string @aem.date_issued %></td>
	</tr>
	<tr>
		<td>Assignment Type</td>
		<td id='assignment_type'><%= @aem.assignment_type %></td>
	</tr>
	<tr>
		<td>Return date <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
		<td>
			<%= f.text_field :date_returned, :value => "" %>
			<script>
				$('#asset_employee_mapping_date_returned').datepicker({ dateFormat: "dd/mm/yy" })
			</script>
			<span id='scheduled_date'><%= " Original Return Date : <b>#{date_to_string AssetEmployeeMapping.where(:id => @aem.id).first.date_returned}</b>".html_safe if @aem.assignment_type == "Temporary" %></span>
			</td>
	</tr>
	<tr>
		<td>Remark</td>
		<td><%= f.text_area :remark, :rows => 3, :columns => 80 %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit "Return Asset!" %></td>
	</tr>
</table>
<% end %>

<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
