<%= form_for(@employee, :html => {:class => "form-horizontal"}) do |f| %>

	<%= render :partial => "shared/errors", :locals => { :obj => @employee } %>

	<div class="control-group">
		<%= f.label :employee_id, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :employee_id %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :name, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :name%>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :email, :class => "control-label" %>
		<div class="controls">
			<%= f.email_field :email %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= f.submit (@employee.new_record? ? "Add Employee" : "Update Employee"), :class => "btn" %>
		</div>
	</div>
	
<% end %>
