<h2 align='center'>All Employees</h2>

<table width="800" class="ShowTable" align='center'>
	<tr>
		<th>Employee Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>Action</th>
	</tr>
	<% @employees.each do |emp| %>
	<tr>
		<td><%= emp.employee_id %></td>
		<td><%= link_to emp.name, employee_path(emp.id) %></td>
		<td><%= emp.email %></td>
		<td>
			<%= show_disable_option emp.id %>
			<%= link_to 'Edit', edit_employee_path(emp.id) unless Employee.where(:id => emp.id).blank? %>
			<%= show_history emp %>
		</td>
	</tr>
	<% end %>
</table>

<script>
	$(".ShowTable tr:odd").addClass("AlternateRow");
</script>
