<h2 align='center'><%= @employee.name %></h2>

<table  width="800" class="ShowTable" align='center'>
	<tr>
		<td width="200px;">EmployeeId</td>
		<td><%= @employee.employee_id %></td>
	</tr>
	<tr >
		<td>Name</td>
		<td><%= @employee.name %></td>
	</tr>
	<tr>
		<td>E- Mail</td>
		<td><%= @employee.email %></td>
	</tr>
	<tr>
		<td>Actions</td>
		<td>
			<%= show_disable_option @employee %> &nbsp;
			<%= link_to 'Edit', edit_employee_path(@employee) unless @employee.deleted? %> &nbsp;
			<%= show_history @employee %> &nbsp;
			<%= link_to 'Return Asset', return_asset_path(:type => "employee", :id => @employee.id) if @employee.asset_employee_mappings.collect { |aem| aem.is_active }.any? %>
		</td>
	</tr>
</table>

<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
