<h2 align='center'><%= @employee.name %></h2>

<table  width="800" class="ShowTable" align='center'>
	<tr>
		<td width="200px;">EmployeeId</td>
		<td><%= @employee.company_id %></td>
	</tr>
	<tr >
		<td>Name</td>
		<td><%= @employee.name %></td>
	</tr>
	<tr>
		<td>E- Mail</td>
		<td><%= @employee.email %></td>
	</tr>
	<tr>
		<td>Actions</td>
		<td>
			<%= link_to 'Disable', disable_employee_path(:id => @employee.id.to_s), :method => :put %> &nbsp;
			<%= link_to 'Edit', edit_employee_path(@employee) %> &nbsp;
			<%= show_history @employee %> &nbsp;
			<%= return_asset @employee %>
		</td>
	</tr>
</table>

<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
