<script>
function populateAsset() {
	$.ajax({
    url: '<%= populate_asset_assignments_path %>', 
    dataType: 'script',
    type: 'get', 
    beforeSend: function() { showProgress() },
    complete: function() { endProgress() },
    data: 'category='+$("#category").attr("value")
  });
}

$(function() {
	$("input[name='assignment[assignment_type]']").click (function() {
		var returned = $("#assignment_expected_return_date");
		if(this.value == "false") {
			returned.attr("disabled", false);
			returned.datepicker({"disabled": false, dateFormat: "dd/mm/yy" });
		}
		else {
			returned.attr("disabled", true);
			returned.attr("value", "");
			returned.datepicker({"disabled":true});
		}	
	});
	$("#assignment_date_issued").datepicker({ maxDate: new Date, dateFormat: "dd/mm/yy" });
	$(".ShowTable tr:even").addClass("AlternateRow");
	if(($("input[name='assignment[assignment_type]']:checked").attr("value")) == "false") {
		$("#assignment_expected_return_date").attr( "disabled", false );
		$("#assignment_expected_return_date").datepicker({ dateFormat: "dd/mm/yy" });
	}
})

</script>

<legend>Assign asset</legend>
<%= form_for(@assignment, :html => {:class => "form-horizontal"}) do |f| %>
 
  <%= render :partial => "shared/errors", :locals => { :obj => @assignment } %>

	<div class="control-group">
		<label class="control-label" for="category">Asset Category *</label>
		<div class="controls">
			<%= select_tag "category", options_for_select(CATEGORY, params[:category]), :prompt => "- Select -", :onChange => "populateAsset()" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :asset_id, "Asset *", :class => "control-label" %>
		<div class="controls">
			<%= f.select(:asset_id, fetch_assets, :include_blank => "- Select -") %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :employee_id, "Employee *", :class => "control-label" %>
		<div class="controls">
			<%= f.select(:employee_id, get_all_employees, :include_blank => "- Select -") %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :assignment_type, "Assignment Type *", :class => "control-label" %>
		<div class="controls">
			<% type = params[:assignment][:assignment_type] if params[:assignment] %>
			<label class="radio inline"><%= radio_button_tag "assignment[assignment_type]", true, (type != "false") %> Permanent</label>
			<label class="radio inline"><%= radio_button_tag "assignment[assignment_type]", false, (type == "false") %> Temporary</label>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :date_issued, "From *", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :date_issued %>
		</div>
	</div>	
		
	<div class="control-group">
		<%= f.label :expected_return_date, "To *", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :expected_return_date, :disabled => true %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :assignment_comment_attributes_body, "Remark *", :class => "control-label" %>
		<div class="controls">
			<%= f.fields_for :comment do |c| %>
			<%= c.text_area :body, :rows => 3 %>
			<% end %>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<%= f.submit "Assign Asset", :class => "btn", :onclick => "fillTagContent()" %>
		</div>
	</div>
	
<% end %>
