<script>

function changeForm() {
	$.ajax({
    url: '<%= change_aem_form_assignments_path %>', 
    dataType: 'script',
    type: 'get', 
    beforeSend: function() { showProgress() },
    complete: function() { endProgress() },
    data: 'employee_id=<%= @assignment.employee_id %>&asset_id='+$("#assignment_asset_id").attr("value")
  });
}

</script>

<h2 align='center'>Return Asset</h2>

<%= form_for(@assignment) do |f| %>

<%= render :partial => "shared/errors", :locals => { :obj => @assignment } %>

<table width="800" class="ShowTable" align='center'>
	<tr>
		<td>Employee Name</td>
		<td>
			<%= @assignment.employee.name %>
			<%= f.hidden_field :employee_id %>
		</td>
	</tr>
	<tr>
		<td>Asset Name</td>
		<td><%= asset_name f %></td>
	</tr>
	<tr>
		<td>Issued on</td>
		<td id='issued_on'><%= date_to_string @assignment.date_issued %></td>
	</tr>
	<tr>
		<td>Assignment Type</td>
		<td id='assignment_type'><%= @assignment.expected_return_date? ? "Temporary" : "Permanent" %></td>
	</tr>
	<tr>
		<td>Return date *</td>
		<td>
			<%= f.text_field :date_returned, :value => "" %>
			<script>
				$('#assignment_date_returned').datepicker({maxDate: new Date, dateFormat: "dd/mm/yy" })
			</script>
			<span id='scheduled_date'><%= " Original Return Date : <b>#{date_to_string Assignment.where(:id => @assignment.id).first.expected_return_date}</b>".html_safe if @assignment.expected_return_date? %></span>
			</td>
	</tr>
	<tr>
		<td>Remark</td>
		<td><%= f.text_area :remark, :rows => 3, :columns => 80 %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit "Return Asset!" %></td>
	</tr>
</table>
<% end %>

<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
