<div style='height:100px;'></div>
<%= form_for(@admin, :url => update_password_admins_path , :method => :put ) do |f|%>
	<%= render :partial => "shared/errors", :locals => { :obj => @admin } %>
  <table width="800" class="ShowTable" align='center'>
		<tr>
			<td><%= f.label :password %> <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
			<td><%= f.password_field :password %></td>
		</tr>	
		<tr>
			<td><%= f.label :password_confirmation %> <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>	
		<tr>
			<td></td>
			<td><%= f.submit "Update Password" %></td>
		</tr>	
  </table>
<% end %>

<script>
	$(".ShowTable tr:odd").addClass("AlternateRow");
</script>
