<div class="row">
	<div class="span9">
		<legend>Last 5 Assignments</legend>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Asset</th>
					<th>Employee</th>
				</tr>
			</thead>	
			<tbody>
		 		<% @assignments.each do |assignment| %>
				<tr>
					<td><%= link_to assignment.asset.name, assignment.asset -%></td>
					<td><%= link_to assignment.employee.name, assignment.employee -%></td>	
				</tr>
			<% end %>
			</tbody>
		  </table>
		<legend>Last 5 Assets</legend>
		<ul class="nav nav-tabs nav-stacked">
			<% @assets.each do |asset| %>
				<li>
					<%= link_to asset.name, asset %>
				</li>
			<% end %>
		</ul>
		<legend>Last 5 Employees</legend>
		<ul class="nav nav-tabs nav-stacked">
			<% @employees.each do |employee| %>
				<li>
					<%= link_to employee.name, employee %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="span3">
		<%= render :partial => "shared/sidebar" %>
	</div>
</div>

