<script>
function ajaxSearch() {
	$.ajax({
    url: '<%= search_path %>', 
    dataType: 'script',
    type: 'get', 
    data: 'query_for_asset='+$("#query_for_asset").attr("value")+"&query_for_emp="+$("#query_for_emp").attr("value")
  });
}

function showTag(tag_id) {
	$.ajax({
    url: '<%= show_tag_path %>', 
    dataType: 'script',
    type: 'get', 
    data: 'tag_id='+tag_id
  });
}

</script>
<span style='float:right'><%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %></span>
<h1 align='center'>Welcome Admin!</h1>

<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<div id="container">
	<div class='LeftPanel'>
		<table class='HomePageTable'>
			<tr>
				<td><%= link_to 'View all assets', assets_path %></td>
				<td><%= link_to 'View all employee', employees_path %></td>
			</tr>
			<tr>
				<td><%= link_to 'Add new assets', new_asset_path %></td>
				<td><%= link_to 'Add new Employee', new_employee_path %></td>
			</tr>
			<tr>
				<td><%= link_to 'Assign asset', new_asset_employee_mapping_path %></td>
				<td><%= link_to 'Add new admin', new_admin_path %></td>
			</tr>
		</table>
			
	
	
	</div>
	<div id="searchBox">
	</div>
	<div class='RightPanel'>
		<table id='searchForm'>
			<tr>
				<td>Asset<br><%= text_field_tag 'query_for_asset' %> </td>
				<td>Employee<br><%= text_field_tag 'query_for_emp' %> </td>
			</tr>
			<tr>
				<td><input type="button" value="Search!" onclick="ajaxSearch();" /></td>
				<td></td>
			</tr>
		</table>
		<span class='TagListHead'>Tag List</span>
		<div class='TagList'>
		<% @tags.each do |tag| %>
			<span class='TagSpan' onclick="showTag(<%= tag.id %>);"><%= tag.name %></span>
		<% end %>
		</div>
		<br>
	</div>
	<div class='Clear'></div>
</div>
