<script>
function ajaxSearch() {
	$.ajax({
    url: '<%= search_path %>', 
    dataType: 'script',
    type: 'get', 
    data: 'query_for_asset='+$("#query_for_asset").attr("value")+"&query_for_emp="+$("#query_for_emp").attr("value")+'&category='+$("#category").attr("value")+'&status='+$("#status").attr("value")
  });
}

</script>
<h2 align='center'>Search</h2>
<table width="800" class="ShowTable" align='center'>
	<tr >
		<td >Asset :</td>
		<td> <%= text_field_tag 'query_for_asset' %>  </td>
		<td> <%= select_tag "status", options_for_select(STATUS), :include_blank => "- Select Status -" %> <%= select_tag "category", options_for_select(CATEGORY_CLASS), :include_blank => "- Select Category -" %> </td>
	</tr>
	<tr>
		<td>Employee :</td>
		<td><%= text_field_tag 'query_for_emp' %> </td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="button" value="Search!" onclick="ajaxSearch();" /></td>
		<td></td>
	</tr>
	<tr>
		<td colspan='3'>
			<div id="searchBox"></div>
		</td>
	</tr>
</table>


<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
