<script>
$(function() { 
	$('#search_button').click( function() {
		if(!$('#asset').val() && !$('#category').val() && !$('#status').val() && !$('#employee').val()) {
			alert("Please select/fill atleast one field");
			return false;
		}
	})
})
</script>
<div id="progressContainer" align="center"></div>
<h2 align='center'>Search</h2>
<% form_tag search_path, :remote => true, :method => :get do %>
<table width="800" class="ShowTable" align='center'>
	<tr >
		<td >Asset :</td>
		<td> <%= text_field_tag 'asset' %>  </td>
		<td> <%= select_tag "status", options_for_select(STATUS), :include_blank => "- Select Status -" %> 
		<%= select_tag "category", options_for_select(CATEGORY), :include_blank => "- Select Category -" %> </td>
	</tr>
	<tr>
		<td>Employee :</td>
		<td><%= text_field_tag 'employee' %> </td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><%= submit_tag "Search", :id => "search_button"%></td>
		<td></td>
	</tr>
	<tr>
		<td colspan='3'>
			<div id="searchBox"></div>
		</td>
	</tr>
</table>
<% end %>
<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
