<% content_for :js do %>
<script>
$(function() { 
	
	$(".search_by input").live("click", function() {
		p_text = $(this).closest(".radio").text();
		$(".asset_field").attr("placeholder", p_text);
	});
	
	$(".start_date").datepicker({dateFormat: 'yy-mm-dd'});
	$(".end_date").datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<% end %>
<legend>Search</legend>
<%= form_tag search_path, :remote => true, :method => :get, :id => "search_form" do %>
<table class="search_table">
	<tr >
		<td ><label for="search_asset">Asset :</label></td>
		<td>
			<%= text_field_tag 'search[asset]', "", :class => "asset_field", :placeholder => "Name" %>
			<div class="search_by">
				<label class="radio inline"><%= radio_button_tag "search[by]", "name", :checked => true %> Name</label>
				<label class="radio inline"><%= radio_button_tag "search[by]", "serial_number" %> Serial Number</label>
				<label class="radio inline"><%= radio_button_tag "search[by]", "description" %> Description</label> 
			</div>
		</td>
		<td>
			<table style="border:0px">
				<tr>
					<td><%= select_tag "search[asset_status]", options_for_select(STATUS), :prompt => "- Select Status -" %> </td>
					<td><%= select_tag "search[asset_type]", options_for_select(CATEGORY), :prompt => "- Select Category -" %></td>
				</tr>
				<tr>
					<td><%= text_field_tag 'search[start]', "", :class => "start_date", :placeholder => "Start" %></td>
					<td><%= text_field_tag 'search[end]', "", :class => "end_date", :placeholder => "End" %></td>
				</tr>					
			</table>	
		</td>
	</tr>
	<tr>
		<td><label for="search_employee">Employee :</label></td>
		<td><%= text_field_tag 'search[employee]', "", :placeholder => "Name" %> </td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><%= submit_tag "Search", :id => "search_button", :class => "btn" %></td>
		<td></td>
	</tr>
	<tr>
		<td colspan='3'>
			<br />
			<div id="searchBox"></div>
		</td>
	</tr>
</table>
<% end %>
