<script>
$().ready(function() {
<% @histories.each do |history| %>
	$('#remark_<%= history.id %>').jTruncate({
		length: 50
	});
<% end %>	
$(".ShowTable tr:odd").addClass("AlternateRow");
});
</script>

<h2 align='center'>History - <%= @record.name %></h2>

<table width="800" class="ShowTable" align='center' id='historyTable'>
	<tr>
		<th><%= (params[:type] == "employee") ? "Asset" : "Employee" %> Name</th>
		<th>Issue Date</th>
		<th>Return Date</th>
		<th>Assignment Type</th>
		<th>Status</th>
		<th>Remark</th>
	</tr>
	<% @histories.each do |history| %>
	<tr>
		<% if params[:type] == "asset" %>
			<td><%= show_employee history %></td>
		<% else %>
			<td><%= link_to history.asset.name, history.asset %></td>
		<% end %>
		<td><%= date_to_string history.date_issued %></td>
		<td><%= date_to_string history.date_returned %></td>
		<td><%= history.expected_return_date? ? "Temporary" : "Permanent" %></td>
		<td><%= history.date_returned? ? "Returned" : "Assigned" %></td>
		<td><span id='remark_<%= history.id %>'><%= history.comment.body if history.comment %></span></td>
	</tr>
	<% end %>
</table>
