<script>
function populateAsset() {
	$.ajax({
    url: '<%= populate_asset_asset_employee_mappings_path %>', 
    dataType: 'script',
    type: 'get', 
    beforeSend: function() { showProgress() },
    complete: function() { endProgress() },
    data: 'category='+$("#category").attr("value")
  });
}

function disableTo(currEle) {
	var returned = $("#asset_employee_mapping_date_returned");
	if(currEle.value == "false") {
		returned.attr("disabled", false);
		returned.datepicker({"disabled": false, dateFormat: "dd/mm/yy" });
	}
	else {
		returned.attr("disabled", true);
		returned.attr("value", "");
		returned.datepicker({"disabled":true});
	}	
}

</script>
<h2 align='center'>Assign asset</h2>
<%= form_for(@aem) do |f| %>
 
  <%= render :partial => "shared/errors", :locals => { :obj => @aem } %>

	<table id='assetTable' width="800" class="ShowTable" align='center'>

		<tr>
			<td><label>Product Category</label> <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
			<td>
				<%= select_tag "category", options_for_select(CATEGORY), :include_blank => "- Select -", :onChange => "populateAsset()" %>
			</td>
		</tr>

		<tr>
			<td><%= f.label :asset %> <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
			<td><%= f.select(:asset_id, [], :include_blank => "- Select -") %></td>
		</tr>
		<tr>
			<td><%= f.label :employee %> <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
			<td><%= f.select(:employee_id, get_all_employees, :include_blank => "- Select -") %></td>
		</tr>
		<tr>
			<td><%= f.label :assignment_type %></td>
			<td>
				<label><%= f.radio_button :assignment_type, true, :checked => true, :onclick => "disableTo(this)" %> Permanent</label>
				<label><%= f.radio_button :assignment_type, false, :onclick => "disableTo(this)" %> Temporary</label>
			</td>
		</tr>
		
		<tr>
			<td><%= f.label :from %> <%= content_tag(:span, MANDATORY, :class => "Mandatory") %></td>
			<td><%= f.text_field :date_issued %></td>
			<script>
				$(function() {
					$("#asset_employee_mapping_date_issued").datepicker({ dateFormat: "dd/mm/yy" });
				});
			</script>
		</tr>
	
		<tr>
			<td><%= f.label :to %></td>
			<td>
				<%= f.text_field :date_returned, :disabled => true %>
				<script>
					if(($("input[name='asset_employee_mapping[assignment_type]']:checked").attr("value")) == "false") {
						$("#asset_employee_mapping_date_returned").attr( "disabled", false );
						$("#asset_employee_mapping_date_returned").datepicker({ dateFormat: "dd/mm/yy" });
					}
				</script>
			</td>
		</tr>
	
		<tr>
			<td><%= f.label :remark %></td>
			<td><%= f.text_area :remark, :rows => 3, :columns => 80  %></td>
		</tr>
	
		<tr>
			<td></td>
			<td><%= f.submit "Assign Asset" %></td>
		</tr>
	
	</table>
<% end %>


<script>
	$(".ShowTable tr:even").addClass("AlternateRow");
</script>
