<script>
$().ready(function() {
<% @aem.each do |aem| %>
	$('#remark_<%= aem.id %>').jTruncate({
		length: 50
	});
<% end %>	
});
</script>

<h2 align='center'>History - <%= @aem.first.asset.name %></h2>

<table width="800" class="ShowTable" align='center' id='historyTable'>
	<tr>
		<th>Employee Name</th>
		<th>Issue Date</th>
		<th>Return Date</th>
		<th>Assignment Type</th>
		<th>Status</th>
		<th>Remark</th>
	</tr>
	<% @aem.each do |aem| %>
	<tr>
		<% unless aem.employee.nil? %>
			<% emp = aem.employee %>
		<% else %>
			<% emp = Employee.only_deleted.where(:id => aem.employee_id).first %>
		<% end %>	
		<td><%= link_to emp.name, employee_path(emp.id) %></td>
		<td><%= date_to_string aem.date_issued %></td>
		<td><%= date_to_string aem.date_returned %></td>
		<td><%= aem.assignment_type ? "Permanent" : "Temporary" %></td>
		<td><%= aem.is_active ? "Assigned" : "Returned" %></td>
		<td><span id='remark_<%= aem.id %>'><%= aem.remark %></span></td>
	</tr>
	<% end %>
</table>

<script>
	$(".ShowTable tr:odd").addClass("AlternateRow");
</script>
