<h2 align='center'>All Assets</h2>

<table width="800" class="ShowTable" align='center'>
	<tr>
		<th>Product Id</th>
		<th>Name</th>
		<th>Status</th>
		<th>Assigned To</th>
		<th>Action</th>
	</tr>
	<% @assets.each do |asset| %>
	<tr>
		<td><%= asset.id %></td>
		<td><%= link_to asset.name, asset %></td>
		<td><%= asset.status.capitalize %></td>
		<td><%= show_employee asset %></td>
		<td>
			<%= link_to 'Edit', edit_asset_path(asset) %>
			<%= show_asset_history asset %>
		</td>
	</tr>
	<% end %>
</table>

<script>
	$(".ShowTable tr:odd").addClass("AlternateRow");
</script>
