<legend>All Assets &nbsp;<small><%= params[:type].try(:pluralize) %></small></legend>
<div class="pull-right"><%= page_entries_info @assets %></div>
<div class="clearfix"><br />&nbsp;</div>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Product Id</th>
		<th>Name</th>
		<th>Status</th>
		<th>Assigned To</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<% @assets.each do |asset| %>
	<tr>
		<td><%= asset.id %></td>
		<td><%= link_to asset.name, asset %></td>
		<td><%= asset.status.capitalize %></td>
		<td><%= asset.status == "Assigned" ? (link_to asset.assigned_employee.name, asset.assigned_employee) : "-" %> </td>
		<td>
			<div class="btn-group">
				<%= link_to 'Edit', edit_polymorphic_path(asset), :class => "btn btn-small" %>
				<%= (link_to "History", histories_path(:type => "asset", :id => asset.id), :class => "btn btn-small btn-info") unless asset.assignments.blank? %>
			</div>	
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @assets %>